body{
  margin:0px;
  width:50vw;
  height:100vh;
  overflow:hidden;
}
.fmsg {
      display: flex;
      position: absolute;
      margin:0px;
      top: 10px;
      left: 5px;
      border: 2px solid blue;
      width: 95%;
      height: 95%;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
#msg1{
      display: none;
      transform: rotate(90deg);
      text-align: center;
      align-items: center;
      border: 2px solid white;
      font-family: sans-serif;
      font-size: 20px;
      font-weight: bold;
      background: rgba(128,128,128,0);
      color: red;
      width: 50%;
      height: 50%;
}

