    .formato {
      position: absolute;
      bottom: 20;
      left: 0;
      width: 10%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    .mensaje{
      text-align: center;
      padding: 0.25em;
      border-radius: 4px;
      border: 1px solid white;
      background: rgba(128,128,128,0);
      color: blue;
      width: 20em;
      height: 20em;
    }
